/* CSS reset */
*{
    margin: 0;
    padding: 0;
}

/* Golbal setting */
:root {
    --GlobalFont: Noto Sans TC,Noto Sans;
    --NavHeight:50px;
    --ContentPadding:0;
    --TextColor:#F2ECE8;
    letter-spacing: 1px;
}

body{
    background-color: #CEB090;
}
a{
    text-decoration: none;
    font-family: var(--GlobalFont);
}
h1{
    color: #373229;
}
.Background{
    width: 100%;
}
.Content{
    max-width: 1200px;
    padding: var(--ContentPadding);
    margin: auto;
}
button{
    letter-spacing: 1px;
    font-family: var(--GlobalFont);
    background-color: #B74600;
    border-radius: 7px;
    font-size: 16px;
    font-weight: bold;
}
p{
    font-family: var(--GlobalFont);
    color: #F2ECE8;
	line-height: 30px;
}

/* NavigateBar */
.MainNavi{
    width: 1000px;
    height: var(--NavHeight);
    position: fixed;
    z-index: 5;
    top:0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(246, 243, 226, 0.8);
    border-radius: 0 0 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    align-items: center;
}
.LogoBar{
    display: flex;
}
.MainNavi__Logo{
    display: flex;
}
.MainNavi__Logo img{
    height: 50px;
    width: 50px;
}
.MainNavi__Menu button{
    background-color: #B74600;
    border-radius: 7px;
    padding: 10px;
    color: #F2ECE8;
    font-weight: bold;
}
.MainNavi__Menu a{
    margin-left: 15px;
    color: #373229;
    font-weight: bold;
}

/* MainPage Slogan */
.BgMain{
    height: 400px;
}

.Main__Slogan{
    padding-left: 50px;
    text-align: left;
}

/* Customerize Recipe */
.CusRecipe__Row{
    position: relative;
}
.BgCusRecipe__BgPic{
    position: absolute;
    top:10%;
    left:30%;
    z-index: -1;
    box-shadow: 15px 15px #883806;
}
.BgCusRecipe__BgPic img{
    border-radius: 10px 10px 0 10px;
    width: 400px;
    height: 300px;
}
.ContentCusRecipe{
    display: flex;
	height: 400px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 20%, rgba(79,44,6,0.8) 100%); 
}
.CusRecipe__Row{
    width: 50%;
}
.CusRecipe__Jigsaw img{
    position: relative;
    left: 50%;
    width: 35%;
    transform: rotate(-35deg);
}
.CusRecipe__RowInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    
}
.CusRecipe__Col h2{
    color: #F2ECE8;
}
.CusRecipe__Col button{
    color: #F2ECE8;
    padding: 5px;
}

/* Popular Recipe */
.BgPopRecipe{
    background-image: url(./images_dev/PopRecipe__BgPic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px 400px;
}

.PopRecipe__ColBox{
    width: 100%;
}
.PopRecipe__Col h2{
    color: #F2ECE8;
}
.PopRecipe__Col button{
    padding: 5px;
    color:#F2ECE8;
}
.PopRecipe_Row{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background: linear-gradient(0deg, rgba(255,255,255,0) 20%, rgba(79,44,6,0.8) 100%); 
}

.PopRecipe__RecipeBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}
.PopRecipe__Card{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #F6F3E2;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.PopRecipe__Card p{
    color: #373229;
    font-weight: bold;
}

.PopRecipe__Card img{
    border-radius: 10px 10px 0 0;
    width: 150px;
    height: 150px;
}


/* Shop */
/* .BgShop{
    background-image: url(./images_dev/Shop__BackPic01.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 300px 300px;
} */
.ContentShop{
	border-bottom-style: dotted;
}
.Shop__Row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.Shop__BackPic{
    position: absolute;
    bottom: 10px;
    right: 5%;
    z-index: -1;
}
.Shop__BackPic img{
    width: 300px;
    height: 300px;
}
.Shop__Col{
    display: flex;
    flex-direction: column;
}

.Shop__LocationBox{
    width: 110%;
    display: flex;
    align-items: center;

    background-color: #8C6740;
    padding: 10px;
    margin: 10px 0 10px 0;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.Shop__info{
    margin: 20px;
}

.Shop__LocationMap img{
    width: 150px;
    height: 150px;
}

.Shop__LocationBox:last-child{
    display: flex;
    flex-direction: row-reverse;
}

/* Booking */
/* .BgBooking{
    background-image: url(./images_dev/Booking__BackPic01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px 450px;
} */
.Booking__Row{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Booking__BackPic{
    position: absolute;
    left: 10px;
    top: -80px;
    z-index: -1;
}
.Booking__BackPic img{
    width: 300px;
    height: 500px;
    
}
.Booking__ColSafety{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Booking__ColSafety p{
    align-self: start;
}

.Booking__Col img{
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

.Booking__Form{
    width: 250px;
    background-color: #F9CEA1;
    border: 2px solid #8C6740;
    margin: 10px;
    padding: 10px;
}
.Booking__Form h3{
    text-align: center;
}
.Booking__Form p{
margin: 5px 0 5px 0;
  color:#373229;
  font-weight: bold;
}
.Booking__Form button{
    margin: 10px 0 5px 0;
      color:#373229;
      font-weight: bold;
    }

/* Footer */
.BgFooter{
    background-color: #B8AE9A;
}
.ContentFooter{
    padding: 10px;
    font-size: 8px;
    background-color: #B8AE9A;
}
.ContentFooter h2{
    font-size: 13px;
    color: var(--TextColor);
}

/* 外部抄來的動畫 */
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1200px;
  position: relative;
  top:-50px;
  left:0;
  right:0;
  margin: auto;
}
.mySlides img{
height: 450px;
}

/* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot_indicator{
    position: absolute;
    top: 350px;
    left: 50%;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* 分頁 客製香料 */

.CustomRecipe__BgPic{
    position: absolute;
    z-index: -1;
    top: -50px;
    left: 0;
}
.CustomRecipe__BgPic img{
    width: 100%;
}

.ContentCustomRecipe__Row{
    display: flex;
    padding-top: 80px;
    height: 800px;
}
.CustomRecipe__Col{
    flex: 1;
    flex-grow: 1;
    padding: 15px;
}
.CustomRecipe__Col2{
    padding: 15px;
    flex-grow: 3;
}
.Component{
    background-color: rgba(93, 89, 86, 0.8);
    border-radius: 10px;
}
.CustomRecipe__Search{
    padding: 15px;
    background-color: #9F9F9F;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.IngredientDetail{
    margin: 5px 0 5px 0;
    background-color: #9F9F9F;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.IngredientDetail p{
    font-weight: bold;
    color: #373229;
}
.ItemNameTitle{
    margin: 10px 10px 0 10px;
    background-color: #9F9F9F;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.ItemNameTitle p{
    font-weight: bold;
    color: #373229;
}

.SelectedItem{
    /* background-color: #B74600; */
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
}
.SelectedItem >[class*="Item"]{
    flex:1;
    text-align: center;
}
.IngredientDetail{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px 5px 15px;
}
.OrderStatus{
    display: flex;
    justify-content: end;
}
.OrderStatus button{
    height: 60px;
    width: 60px;
    margin: 10px;
}
.Cancel{
    background-color: #E2CDB3;
    color: #af9b8e;
}
.Confirm{
    color: #F2ECE8;
}

/* PopularRecipePage */
.ContentPopularRecipePage h2{
    margin: 80px 0 20px 0;
    text-align: center;
}
.ContentPopularRecipePage h3{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.MeatSeaoning{
    background-color: #af9b8e;
}
.ContentPopularRecipePage{
    padding: 15px;
}
.PopularRecipePage__RecipeCard{
    display: flex;
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(113, 113, 113, 0.7);
    border-radius: 15px;
}
.PopularRecipePage__Col{
    padding: 10px;
    margin: 0 5px 0 5px;
}
.PopularRecipePage__Col1{
    position: relative;
}
.PopularRecipePage__RecipeTitle img{
    width: 100%;
}
.PopularRecipePage__RecipeTitle{
    position: absolute;
    width: 80%;
    top: 10px;
    left:10px;
    background-color: rgba(235, 235, 235,0.8);
}
.PopularRecipePage__RecipeTitle p{
    color: #373229;
    font-weight: bold;
    text-align: center;
}
.PopularRecipePage__ColSpan{
    display: flex;
}
.PopularRecipePage__Col span{
    width: 1px;
    background-color:#373229;
}
.PopularRecipePage__Tag{
    position: absolute;
    bottom: 0;
    right: -5px;
    border-radius: 0  0 15px 0;
    background-color: #B74600;
}
.PopularRecipePage__Tag p{
    font-size: 15px;
}

/* 來店選購 */
.ShopPage{
    margin-top: 80px;
    text-align: center;
}
.ContentShopPage{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding: 50px;
    margin-bottom: 30px;
}
.ShopPage__Col{
    width: 25%;
}
.ShopPage__Col1{
    position: absolute;
    z-index: -1;
    top: -50px;
    left: -50px;
}
.ShopPage__Col2{
    position: absolute;
    display: flex;
    align-items: flex-end;
    top: 0;
    left: 0;
}
.ShopPage__Col2 h3{
    font-size: 30px;
    color: #F2ECE8;
    writing-mode: vertical-lr;
}
.ShopPage__Col2 p{
    writing-mode: vertical-lr;
}
.ShopPage__Card{
    background-color: rgba(183, 70, 0,0.7);
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 1.95px 1.95px 2.6px;
}
.ShopPage__CardPic img{
    width: 100%;
}
.ShopPage__Co3{
    position: relative;
}
.ShopPage__Co3>.ShopPage__Card{
    position: relative;
    top: -40px;
}
.ShopPage__Col2TN{
    left: 93%;
}
.ShopPage__Col1TN{
    position: absolute;
    z-index: -1;
    top: -50px;
    left: 83%;
}
.ShopPage__Col1TN img{
    transform: scaleX(-1);
}